* {
    margin: 0;
    background-color: #fff;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #000;
    padding: 10px;
  }

  #logo {
    height: 80px;
    width: 180px;
  }